@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

body {
  overflow: hidden;
}

.loader {
  animation: sam 1.5s 2.4s ease both;
}

@keyframes sam {
  0% {
    bottom: 0%;
  }
  100% {
    bottom: 100%;
  }
}

/* Animating Words */
.wrapper h1 {
  position: absolute;
  visibility: hidden;
}
.loader h1:nth-child(1) {
  animation: sohail 0.3s 0.7s;
}
.loader h1:nth-child(2) {
  animation: sohail 0.2s 1s;
}
.loader h1:nth-child(3) {
  animation: sohail 0.2s 1.2s;
}
.loader h1:nth-child(4) {
  animation: sohail 0.2s 1.4s;
}
.loader h1:nth-child(5) {
  animation: sohail 0.2s 1.6s;
}
.loader h1:nth-child(6) {
  animation: sohail 0.2s 1.8s;
}
.loader h1:nth-child(7) {
  animation: sohail 0.2s linear 2s;
}
.loader h1:nth-child(8) {
  animation: lastWord 2s linear 2.1s;
}

@keyframes sohail {
  0% {
    visibility: hidden;
  }
  1% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}
@keyframes lastWord {
  0% {
    visibility: hidden;
  }
  50% {
    visibility: visible;
  }
  100% {
    visibility: visible;
  }
}
